DEBUG_GLOBAL=
DEBUG_ALGOLIA=

MONGODB_URI=

JWT_SECRET=

# Only accepts values in milliseconds 
JWT_TTL=

# Algolia admin api key
ALGOLIA_ADMIN=
ALGOLIA_APP_ID=
ALGOLIA_MANGA_INDEX=

# AWS S3 Secret credentials
AWS_SECRET_ID=
AWS_SECRET_KEY=

# The name of the bucket that you have created
AWS_BUCKET_NAME=

# The region of your bucket
AWS_REGION=